*{
    margin: 0px;
    padding: 0px;
}
.unidad{
    width: 200px;
    background-color:aquamarine;
    font-size: 2em; 
}
.contenedor{
    font-size: 30px;
    background-color: crimson;
    width: 40vw;
    height: 45vh;
}