*{
    margin: 0;
    padding: 0;
    font-size: 40px;
}


div{
    width: 150px;
    height: 200px;
    display:block;
    text-align: center;
}

.caja1{
    background-color: rgb(0, 72, 255);
}

.caja2{
    background-color:rgb(255, 0, 60) ;
    position: relative;
    top: 30px;
    left: 100px;
}

.caja3{
    background-color:rgb(220, 200, 20);
}

.caja4{
    background-color: rgb(47, 27, 56);   
    color: white; 
    height: max-content;
    width: max-content;
    margin-left: 200px;
}